PGHOST=localhost
PGPORT=5432
PGDATABASE=fonio_hackathon
PGUSER=postgres
PGPASSWORD=1234
FONIO_NUMBER="+436767563950"
FONIO_API_KEY="fonio_a3d622e6f5ebafbd4598e6d70c7b97f8"
ADMIN_PHONE="+4367763895347"
ADMIN_PASSWORD="gleb2008"